// @import './../../variables.scss';


.searchMainPageComponent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  > * {
    margin-right: 20px;
    margin-bottom: 20px;
  }

  *:last-child {
    margin-right: 0px;
    // flex-grow: 1;
  }
}

@media (max-width: 815px) {
  .searchMainPageComponent {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > * {
      margin-right: 0px;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 815px) {
  .searchMainPageComponent {
    width: 100%;
  }
}