.searchItemBlock {
  width: 700px;
  background-color: #F5F5F5;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  &:hover {
    cursor: pointer;
  }

  &__header {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__content {
    display: flex;
    gap: 10px;
    &__image {
      max-width: 200px;
    }

    &__desc {
      flex: 1;
    }
  }
}