.adBlockWrapperComponent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  &__wrapper {
    display: grid;
    
    gap: 20px;

    &--col4 {
      grid-template-columns: repeat(4, 1fr);
    }
    &--col3 {
      grid-template-columns: repeat(3, 1fr);
    }
    &--col2 {
      grid-template-columns: repeat(2, 1fr);
    }
    &--col1 {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media screen and (max-width: 1250px) {
  .adBlockWrapperComponent {
    &__wrapper {
      &--col4 {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .adBlockWrapperComponent {
    &__wrapper {
      &--col4 {
        grid-template-columns: repeat(2, 1fr);
      }
      &--col3 {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .adBlockWrapperComponent {
    &__wrapper {
      &--col4 {
        grid-template-columns: repeat(1, 1fr);
      }
      &--col3 {
        grid-template-columns: repeat(1, 1fr);
      }
      &--col2 {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}