.adBlockWrapperComponent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 1250px) {
  .adBlockWrapperComponent {
    &__wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (max-width: 950px) {
  .adBlockWrapperComponent {
    &__wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 650px) {
  .adBlockWrapperComponent {
    &__wrapper {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}