@import './../../variables.scss';


.personItemComponent{
  box-sizing: border-box;
  font-family: $mainFontFamily1;
  display: flex;
  // align-items: center;
  font-size: 21px;
  line-height: 60px;
  color: $mainColor4;
  
  & img {
    margin-right: 10px;
    width: 60px;
    border-radius: 60%;
  }
}