@import './../../variables.scss';


.personItemComponent{
  box-sizing: border-box;
  display: flex;
  font-size: 16px;
  line-height: 40px;
  color: $mainColor4;
  font-weight: bold;
  &:hover {
    cursor: pointer;
  }
  
  & img {
    margin-right: 10px;
    width: 40px;
    border-radius: 60%;
  }
}