.templateTwo {
  width: 100%;
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  gap: 10px;

  &__header {
    text-align: center;
  }

  &__content {
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    &__left {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 300px;
      &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }

      &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }
    }

    &__midOne,
    &__midTwo,
    &__midThree,
    &__right {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      width: 300px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1600px) {
  .templateTwo {
    height: auto;

    &__bottom {
      margin-bottom: 100px;
    }
  }
}

@media screen and (max-width: 950px) {
  .templateTwo {
    height: auto;
    &__content {
      &__left,
      &__midOne,
      &__midTwo,
      &__midThree,
      &__right {
        width: 90%;
      }
    }
  }
}
