@import './../../variables.scss';

$font-family: $mainFontFamily1;
$select-font-size: 1.2em;
$label-font-size: 1.1em;
$input-color: #555;
$label-color: $mainColor4;
$background-color: $mainColor1;



.selectComponent {
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  &__input {
    width: 100%;
    font-family: $font-family;
    font-size: $select-font-size;
    color: $input-color;
    padding: 5px 5px;
    box-sizing: border-box;
    border: none;
  }

  &__list {
    max-height: 100px;
    position: absolute;
    width: 100%;
    z-index: 99;
    overflow-y: scroll;
    box-shadow: 0px 6px 6px 1px #666666;

    &__item {
      font-family: $font-family;
      font-size: $select-font-size;
      color: $input-color;
      background-color: $background-color;
      padding: 5px 5px;

      


      &:hover {
        background-color: darken($background-color, 5%);
      }
    }

    // &::-webkit-scrollbar {
    //   width: 5px;
    //   height: 2px;
    // }
    
    // &::-webkit-scrollbar-thumb {
    //   background: #e1e1e1;
    //   border: 16px none #ffffff;
    //   border-radius: 55px;
    // }
  }


  &--small {
    width: 250px;
  }

  &--mid {
    width: 300px;
  }

  &--auto {
    width: 100%;
  }


}

@media screen and (max-width: 950px){
  .selectComponent {
    &--small {
      width: 90%;
    }

    &--mid {
      width: 90%;
    }
  
    &--auto {
      width: 90%;
    }
  }
}