@import '../../variables.scss';


.headerComponent2{
  max-width: 300px;

  &__btn:hover {
    cursor: pointer;
  }

&__title{
  display: flex;
  padding: 10px;
  
  gap: 10px;
  align-items: center;
}
  &__header {
    font-weight:500;
  }

  &__image{
    padding-left: 10px;
    max-width: 300px;
  }
  
  
}