.searchView {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  &__top {
    display: flex;
    gap: 10px;
    margin-top: 50px;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.pagination {
  display: flex;
  gap: 5px;
  list-style: none;

  li {
    min-width: 20px;
    padding: 5px;;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F5F5;

    &:hover {
      cursor: pointer;
    }
  }
}