.descriptionComponent {
  width: 100%;
  display: flex;
  flex-direction: column;
  &__header {
    width: 90%;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #333;
    text-align: center;
  }

  &__content {
    width: 90%;
    text-align: justify;
  }
}

@media screen and (max-width: 800px) {
  .descriptionComponent {
    align-items: center;
  }
}