.userInfoComponent {
  width: 50%;
  display: flex;
  gap: 10px;
  align-self: center;
}

@media screen and (max-width: 800px) {
  .userInfoComponent {
    width: 100%;
    flex-direction: column;
  }
}