@import '../../variables.scss';

.layoutView {
  width: 100%;
  height: 100vh;
  background: $backgroundColor;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__content {
    height: calc(100% - 50px);
    overflow: auto;
  }
}