@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
$button-background: #5AA4A8;
$button-background-hover: #4D9093;
$button-font-size: 1.2em;
$button-font-family: "Lato", sans-serif;
$button-color: #fff;

.buttonComponent {
  border: none;
  background: $button-background;
  font-size: $button-font-size;
  font-family: $button-font-family;
  color: $button-color;
  padding: 7px 0;

  &:hover {
    cursor: pointer;
    background: $button-background-hover;
  }
  &--small {
    width: 250px;
  }

  &--auto {
    width: 100%;
  }
}