@import './../../variables.scss';

$button-background: $mainColor2;
$button-background-hover: darken($button-background, 3%);
$button-font-size: 1.2em;
$button-font-family: $mainFontFamily1;
$button-color: $mainColor1;

.buttonComponent {
  border: none;
  font-size: $button-font-size;
  font-family: $button-font-family;
  color: $button-color;
  padding: 7px 0;

  &:hover {
    cursor: pointer;
    background: $button-background-hover;
  }
  &--small {
    width: 250px;
  }

  &--mid {
    width: 300px;
  }

  &--auto {
    width: 100%;
  }

  &--default {
    background: $button-background;
  }

  &--red {
    background: $buttonColor2;
  }
}

@media screen and (max-width: 950px) {
  .buttonComponent {
    padding: 10px;
    &--small {
      width: 90%;
    }
    &--mid {
      width: 90%;
    }
  }
}