@import '../../../variables.scss';

.linkDisplayComponent {
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;

  &__header {
    border-bottom: 1px solid $mainColor8;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
  }

  &__content {
    width: 100%;
    display: flex;
    overflow-y: auto;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    &__empty {
      width: 100%;
      text-align: center;
      font-size: 0.8em;
    }
  }
}
