.userProfileView {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 100px 0;
  gap: 10px;
  // overflow-x: hidden;
  // overflow-y: auto;

  &__listWrapper {
    display: grid;
    grid-template-columns: repeat(2, 400px);

    &__list {
      text-align: center;
      height: 300px;
    }
  }
}