@import '../../variables.scss';

.userDataComponent {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__icons {
    font-size: 1.3em;
    display: flex;
    padding: 5px 0;
    gap: 10px;
  }

  &__content {
    &__item {
      text-align: center;
      padding: 1px 0;
    }
  }
}

@media screen and (max-width: 800px) {
  .userDataComponent {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    position: relative;

    &__icons {
      position: absolute;
      top: -10px;
      right: 20px;
    }

    &__content {
      &__item {
        text-align: left;
      }
    }
  }
}