@import '../../variables.scss';

.listBox {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    border-bottom: 1px solid $mainColor8;
    padding-bottom: 20px;
    text-align: center;
  }

  ul {
    margin: 0;
    max-height: 300px;
    overflow-y: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    list-style: none;  
    display: flex;
    flex-wrap: wrap;  

  }
  li {
    font-size: 1em;
    text-align: left;
    color: rgb(0,78,122);
    background-color: rgba(0,111,173, 0.1);
    border-radius: 18px;
    padding: 5px 15px 5px 15px;
    margin: 10px 10px 10px 0px;
    font-weight: bold;


  }
  
}

