@import '../variables.scss';

.darkIcon {
  color: $mainColor4;
  &:hover {
    color: $mainColor5;
    cursor: pointer;
  }
}

.pLink {
  &:hover {
    cursor: pointer;
  }
}

.emptyRwdDiv {
  display: none;
}

@media screen and (max-width: 800px) {
  .emptyRwdDiv {
    display: block;
    flex: 1;
  }
}


*::-webkit-scrollbar {
  width: 5px;
  height: 2px;
  background:$mainColor3;
}

*::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 16px none #ffffff;
  border-radius: 55px;
}