@import './../../variables.scss';

$font-family: $mainFontFamily1;
$input-font-size: 1.2em;
$label-font-size: 1.1em;
$input-color: #555;
$label-color: $mainColor4;

.newInputComponent {
  display: flex;

  &__input {
    width: 100%;
    font-family: $font-family;
    font-size: $input-font-size;
    color: $input-color;
    padding: 5px 0;
    text-align: center;
    border: none;
  }

  &__label {
    font-size: $label-font-size;
    color: $label-color;
    margin-right: 10px;
  }

  &__message {
    margin: 2px 0;
    font-size: 0.8em;
    color: $errorColor;
    width: 100%;
  }

  &--small {
    width: 250px;
  }

  &--mid {
    width: 300px;
  }

  &--auto {
    width: 100%;
  }

  &--vertical {
    flex-direction: column;
    align-items: center;
  }

  &--vertical &__label {
    margin-right: 0;
    margin-bottom: 10px;
  }

  &--horizontal {
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (max-width: 950px) {
  .newInputComponent {
    &--small {
      width: 90%;
    }
  
    &--mid {
      width: 90%;
    }
  }
}