.adView {
  display: flex;
  justify-content: center;
  &__left, &__right {
    margin-top: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}