



.categoryChoiceComponent {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;

  &__wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    text-align: center;
    border-radius: 10%;
    max-width: 840px;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__item {
    margin: 10px;
    display: block;
  }

  &__title {
    font-size: 24px;
  }


}

