@import './../../variables.scss';


.headerComponent {

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 60px;
  background-color:$mainColor3;
  color: $mainColor1;
  font-size: 46px;
  line-height: 60px;
  box-shadow: 0px 2px 4px 0px $mainColor3;

  &__menu {
    display: flex;
    &__item {
      width: 60px;
      height: 60px;
      text-align: center;
      transition: 0.4s;
      

      &:hover {
        background-color: darken($mainColor3, 5%);
        cursor: pointer;
      }
    }
  }

  &__logo {
    margin-left: 10px;
  }
}