@import './../../variables.scss';


.obsPanelComponent {
  color: $mainColor4;
  font-size: 20px;
  width: 500px;
  &__people {
    margin-left: 20px;
  }
  &__title {
    text-align: center;
    border-bottom: 1px $mainColor4 solid;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 800px) {
  .obsPanelComponent {
    width: 100%;
  }
}