@import '../../variables.scss';

.listBox {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    border-bottom: 1px solid $mainColor8;
    padding-bottom: 20px;
    text-align: center;
  }

  ul {
    margin: 0;
    max-height: 300px;
    overflow-y: auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  li {
    font-size: 1em;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  
}

