.itemDisplayComponent {
  width: 100%;
  &__empty {
    width: 100%;
    text-align: center;
    font-size: 0.8em;
  }
  &__itemsWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    &__item {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 1em;
      text-align: left;
      color: rgb(0, 78, 122);
      background-color: rgba(0, 111, 173, 0.1);
      border-radius: 18px;
      padding: 5px 15px 5px 15px;
      margin: 10px 10px 10px 0px;
      font-weight: bold;

      &__remove:hover {
        cursor: pointer;
      }
    }
  }
}
