@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

$mainFontFamily1: "Lato", sans-serif;

$backgroundColor: #ECECEC;
$mainColor1: white;
$mainColor2: #5AA4A8; // przycisk
$mainColor3: #5c96bc; //menu górne 
$mainColor4: #353535; //text, icon
$mainColor5: #292929; //icon:hover
$mainColor6: rgba(27, 27, 27, 0.7);
$errorColor: #F00;
