.linkComponent {
  display: flex;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;

  &__content {
    display: block;
    &__shortcut {
      width: 100%;
      height: 100%;
      font-size: 0.5em;
      font-weight: 700;
    }
  }

  &__trash {
    display: none;
  }

  &__shortcut {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 0.5em;
    font-weight: 700;
  }

  &:hover &__content {
    display: none;
  }

  &:hover &__trash {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &:hover {
    cursor: pointer;
  }
}
