@import "../../variables.scss";

.popupComponent {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: $mainColor6;
  display: flex;
  justify-content: center;
  align-items: baseline;

  &__wrapper {
    width: 350px;
    margin-top: 50px;
    background: $backgroundColor;
    display: flex;
    flex-direction: column;

    &__menu {
      display: flex;
      height: 50px;
    }

    &__chooseButton {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $mainColor1;
      background: $mainColor3;
      font-size: 1.1em;
      cursor: pointer;

      &--checked {
        background: $backgroundColor;
        color: $mainColor4;
        cursor: auto;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      padding: 5px 0 20px 0;
    }
  }
}
